{% extends "template.html" %}
{% block content %}
    <h2>Welcome</h2>
       <p> SETUP FOR LOCAL DEVELOPMENT
        Install the Angular QuickStart seed for faster, more efficient development on your machine
        Setup a local development environment

        The QuickStart live-coding example is an Angular playground. It's not where you'd develop a real application. You should develop locally on your own machine ... and that's also how we think you should learn Angular.
        Setting up a new project on your machine is quick and easy with the QuickStart seed, maintained on github.</p>
    <p>The QuickStart seed live-example is QuickStart plus the app.module.ts and main.ts application files (described below) that facilitate richer application examples.
        Make sure you have node and npm installed. Then ...

        Create a project folder (you can call it quickstart and rename it later).
        Clone or download the QuickStart seed into your project folder.
        Install npm packages.
        Run npm start to launch the sample application.
        Clone
        Perform the clone-to-launch steps with these terminal commands.</p>
{% endblock %}